<footer>
    <div class="footer">
        <div class="socials">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-twitter"></i>
        </div>
        <div class="foot-brand"> &copy;  mergeEasy.in</div>
        
    </div>
</footer>